/* Footer Styles */
.footer {
    background-color: rgb(3, 166, 39);
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .footer-content {
    flex: 1;
  }
  
  /* Media Query for Responsive Footer */
  @media (max-width: 768px) {
    .footer-content {
      flex: auto;
    }
  }
  